.nombreProducto {
    font-size: 20;
    color:#000000;
}
.marcaProducto {
    font-size: 20;
    font-weight: bold;
    color:#000000;
}
.precioProducto {
    font-size: 30;
    font-weight: bold;
    color: #CC0000;
}

Repeater GridLayout{
    border-width: 1;
    border-style: solid;
    border-color: #d8d8d8;
}